aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
asttokens==2.0.8
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
beniget==0.4.1
bleach==5.0.1
blinker==1.4
Brotli==1.0.9
CacheControl==0.12.11
cachy==0.3.0
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
cleo==1.0.0a5
click==8.1.3
cloud-init==22.3.4
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
crashtest==0.3.1
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
docker==5.0.3
dulwich==0.20.50
entrypoints==0.4
executing==1.0.0
Faker==13.15.0
fastapi==0.85.0
fastjsonschema==2.16.1
filelock==3.8.0
fonttools==4.29.1
frozenlist==1.3.3
fs==2.4.12
gast==0.5.2
greenlet==2.0.1
h11==0.14.0
html5lib==1.1
httplib2==0.20.2
httptools==0.5.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==4.6.4
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.15.2
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.17.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
keyring==23.5.0
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
lxml==4.9.1
lz4==3.1.3+dfsg
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==2.0.4
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.4
multidict==6.0.2
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.11.0
notebook==6.4.12
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pg8000==1.29.3
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2022.9.8
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
poetry==1.2.2
poetry-core==1.3.2
poetry-plugin-export==1.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.21
pydantic==1.10.2
Pygments==2.13.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pylev==1.4.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
pytest==7.1.2
pytest-asyncio==0.18.3
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-dotenv==0.21.0
python-magic==0.4.24
pythran==0.10.0
pytz==2022.1
PyYAML==6.0
pyzmq==23.2.1
requests==2.28.1
requests-toolbelt==0.9.1
scipy==1.8.0
scramp==1.4.4
SecretStorage==3.3.1
Send2Trash==1.8.0
service-identity==18.1.0
shellingham==1.5.0
six==1.16.0
sniffio==1.3.0
sos==4.4
soupsieve==2.3.2.post1
SQLAlchemy==1.4.44
ssh-import-id==5.11
stack-data==0.5.0
starlette==0.20.4
style==1.1.0
sympy==1.9
systemd-python==234
terminado==0.15.0
testpath==0.5.0
tinycss2==1.1.1
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
traitlets==5.3.0
Twisted==22.1.0
typing_extensions==4.4.0
ubuntu-advantage-tools==27.11.2
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
update==0.0.1
urllib3==1.26.5
uvicorn==0.18.3
uvloop==0.17.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
wadllib==1.3.6
watchfiles==0.17.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
websockets==10.3
widgetsnbextension==2.0.0
yarl==1.8.1
zipp==1.0.0
zope.interface==5.4.0
